#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: lavender;
}

.flashcard-design {
  height: 250px;
  width: 400px;
  background-color: #daa6ed;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.current-card {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  cursor: pointer;
}

.current-card:hover {
  top: -5px;
}